.App {
    padding: 30px 20px;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f5f5f5;
    border-radius: 10px;
}

.dies-container {
    margin: 23px 35px;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 18px;
}

.roll-btn {
    padding: 16px 40px;
    border: none;
    background: #5035ff;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 19px;
    cursor: pointer;
    transition: 0.15s;
}

.roll-btn:hover {
    filter: brightness(1.1);
}

.roll-btn:active {
    filter: brightness(0.9);
}

.tenzies-title {
    margin: 28px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #2b283a;
}

.tenzies-para {
    margin: 0 28px;
    font-weight: 400;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
}

.tenzies-rolls {
    margin: 8px 0;
    font-weight: 700;
    font-size: 1.25rem;
}